@page "/auth/login"
@rendermode InteractiveWebAssembly
<MudCard>
    <MudCardHeader>
        <CardHeaderContent />
    </MudCardHeader>
    <MudCardContent>
        <MudForm @ref="@_form" Model="Model">
            <MudTextField @bind-Value="Model.Email"
                          InputType="InputType.Text"
                          Label="Username" />
            <MudTextField @bind-Value="Model.Password"
                          InputType="InputType.Password"
                          Label="Password" />
        </MudForm>
    </MudCardContent>
    <MudCardActions>
        <MudButton Variant="Variant.Filled"
                   Class="my-2 mr-2"
                   Color="Color.Default"
                   OnClick="() => OnLoginClicked()">
            <MudText>Login</MudText>
        </MudButton>
    </MudCardActions>
    <!-- Footer Section -->
    <div class="mt-4 text-center">
        <MudText Typo="Typo.caption">
            <MudLink Href="/auth/forgot-password">Forgot your password?</MudLink>
        </MudText>
        <MudText Typo="Typo.caption" Class="mt-2">
            Don't have an account? <MudLink Href="/auth/register">Sign up</MudLink>
        </MudText>
    </div>
</MudCard>
